<!-- ================================================== -->
<!--  Account template. -->
<!-- ================================================== -->

<template>
  <div>

    <!-- Transaction list view. -->
    <div v-if="!isEditingTransaction" >
      <!-- Header. -->
      <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
        
        <!-- Back button. -->
        <router-link :to="'/' + this.$route.params.budgetId + '/accounts'" class="back-button w3-display-left w3-display-container">
          <div class="w3-display-middle w3-large"><div style="margin-bottom: 3px;">«</div></div>
        </router-link>

        <!-- Header text. -->
        <div v-if="account" class="page-text w3-display-left">{{account.name}}</div>

        <!-- Add transaction button. -->
        <div @click="addTransaction" class="new-button w3-display-right w3-theme-l2"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Transaction</div>

      </div>

      <div @click="scrollToTop" class="w3-display-container w3-container w3-theme-l4" style="height:60px; position: absolute; width: 100%; top: 40px; bottom: 0; left: 0; right: 0">
        <div v-if="account" class="w3-display-middle w3-container w3-tiny">
          <table>
            <tr style="white-space: nowrap;">
              <td><center>Cleared</center></td>
              <td />
              <td><center>Uncleared</center></td>
              <td />
              <td><center>Working</center></td>
            </tr>
            </tr>
              <td>
                <center>
                  <div
                    v-bind:class="getColor(account.cache.clearedBalance)"
                    class="w3-padding-small w3-round-xlarge" style="min-width: 75px; white-space: nowrap;">
                    <center>
                      <b>{{account.cache.clearedBalance | currencyInt(true, currencyDigits) | currency(currencySymbol, currencyDigits)}}</b>
                    </center>
                  </div>
                </center>
              </td>
              <td valign="center"><b>+</b></td>
              <td>
                <center>
                  <div
                    v-bind:class="getColor(account.cache.unclearedBalance)"
                    class="w3-padding-small w3-round-xlarge" style="min-width: 75px; white-space: nowrap;">
                    <center>
                      <b>{{account.cache.unclearedBalance | currencyInt(true, currencyDigits) | currency(currencySymbol, currencyDigits)}}</b>
                    </center>
                  </div>
                </center>
              </td>
              <td valign="center"><b>=</b></td>
              <td>
                <center>
                  <div
                    v-bind:class="getColor(account.cache.balance)"
                    class="w3-padding-small w3-round-xlarge" style="min-width: 75px; white-space: nowrap;">
                    <center>
                      <b>{{account.cache.balance | currencyInt(true, currencyDigits) | currency(currencySymbol, currencyDigits)}}</b>
                    </center>
                  </div>
                </center>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div id="transaction-container"
        v-if="account"
        infinite-wrapper
        class="w3-card-4"
        style="position: absolute; top: 100px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

        <ul class="w3-ul">
          <li style="margin: 0; padding: 0; border: 0" v-for="(transaction, index) in transactionList" :key="index">
            <fm-transaction
              :acount='account'
              :transaction='transaction'
              :editFunction='editTransaction'
              :class="{'w3-white': index % 2 === 0, 'w3-theme-l5': index % 2 !== 0 }">
            </fm-transaction>
          </li>
        </ul>

        <div style="min-height: 50px">
          <infinite-loading ref="infinite" @infinite="infiniteHandler" force-use-infinite-wrapper="true">
            <span slot="no-more">No More Transactions</span>
            <span slot="no-results">No More Transactions</span>
            <span slot="spinner">
              <div class="w3-bar w3-display-container" style="height:50px">
                <div class="spinner w3-display-topmiddle"></div>
              </div>
            </span>
          </infinite-loading>
        </div>
          
      </div>
    </div>

    <!-- Transaction editor. -->
    <div v-if="isEditingTransaction">

      <fm-transaction-editor
        v-on:done="doneEditing"
        :transaction="transactionToEdit" />
        
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Account script. -->
<!-- ================================================== -->

<script>
  import moment from 'moment'
  import InfiniteLoading from 'vue-infinite-loading'
  import Transaction from './transaction'
  import TransactionEditor from './editors/editor-transaction'
  import { Transaction as transaction } from '../../services/data/transaction'

  let Trans

  export default {
    name: 'fm-account',
    components: {
      'fm-transaction': Transaction,
      'fm-transaction-editor': TransactionEditor,
      InfiniteLoading
    },
    data () {
      return {
        account: null,
        currencySymbol: '',
        currencyDigits: 2,
        transactions: [],
        transactionList: [],
        transactionsMemory: [],
        isEditingTransaction: false,
        transactionToEdit: null
      }
    },
    computed: {
      sortedTransactions: function () {
        return this.transactions.sort(function (x, y) { return y.date - x.date || y.value - x.value })
      }
    },
    methods: {
      load () {
        Trans = transaction(this.$current.budgetId())

        for (let i = 0; i < this.$current.dbCtrl.accounts.length; i++) {
          if (this.$current.dbCtrl.accounts[i].id === this.$route.params.accountId) {
            this.account = this.$current.dbCtrl.accounts[i]
            this.transactions = this.account.transactions
          }
        }

        this.currencySymbol = this.$current.dbCtrl.currencySymbol
        this.currencyDigits = this.$current.dbCtrl.currencyDigits
      },
      getColor (value) {
        if (value > 0) {
          return 'w3-green'
        } else if (value < 0) {
          return 'w3-red'
        } else {
          return 'w3-dark-grey'
        }
      },
      infiniteHandler ($state) {
        if (this.transactionList.length === this.sortedTransactions.length) {
          $state.complete()
          return
        }

        setTimeout(() => {
          const temp = []
          for (let i = this.transactionList.length; i <= this.transactionList.length + 49; i++) {
            if (i < this.sortedTransactions.length) {
              temp.push(this.sortedTransactions[i])
            }
          }
          this.transactionList = this.transactionList.concat(temp)
          $state.loaded()
        }, 1000)
      },
      scrollToTop () {
        if (document.getElementById('transaction-container').scrollTop > 0) {
          this.$refs.infinite.stateChanger.reset()
          document.getElementById('transaction-container').scrollTop = 0
          this.transactionList = []
        }
      },
      addTransaction () {
        const newTransaction = new Trans({
          date: moment().format('YYYY-MM-DD'),
          account: this.account.id || null
        })
        this.editTransaction(newTransaction)
      },
      editTransaction (transaction) {
        this.transactionToEdit = transaction
        this.isEditingTransaction = true
      },
      doneEditing () {
        this.transactionToEdit = null
        this.isEditingTransaction = false
      }
    },
    mounted: function () {
      if (this.$current.dbCtrl === null || this.$current.dbCtrl === undefined) {
        this.$current.loadBudget(this.$route.params.budgetId, this.$db).then((dbCtrl) => {
          this.$current.dbCtrl = dbCtrl
          this.load()
        })
      } else {
        this.load()
      }
    },
    watch: {
      'sortedTransactions': function (value) {
        if (this.$refs.infinite !== undefined) {
          let count

          if (this.$refs.infinite.isComplete) {
            count = this.sortedTransactions.length
          } else {
            count = this.transactionList.length
          }

          this.transactionList = []
          for (let i = 0; i < count; i++) {
            this.transactionList.push(this.sortedTransactions[i])
          }
        }
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Account CSS. -->
<!-- ================================================== -->

<style scoped>
  .new-button {
    height: 40px;
    vertical-align: center;
    line-height: 40px;
    padding: 0px 16px;
  }

  .bar-50 {
    height: 50px;
  }

  .back-button {
    height: 40px;
    width: 50px;
  }

  .page-text {
    margin-left: 50px;
  }

  .spinner {
    border: 3px solid transparent;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-top: 18px;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>
