<!-- ================================================== -->
<!--  Payee editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0;">
      <div class="w3-display-left w3-container">Transaction Payee</div>
    </div>

    <div class="w3-theme-l4" style="position: absolute; height: 120px; width: 100%; top: 40px; left: 0; right: 0">

      <div class="payee-wrapper">
        <!-- <label class="payee-label">Payee</label> -->
        <div class="payee-container w3-card">
          <input id="payee-input" class="payee-input w3-input" type="text" v-model="inputString">
        </div>
        <i @click="clear" class="payee-clear fa fa-times w3-text-theme" aria-hidden="true"></i>
      </div>

      <div class="save-cancel-wrapper">
        <div @click="save" class="button w3-card w3-theme">OK</div>
        <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
      </div>

    </div>

    <div style="position: absolute; top: 160px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <div v-if="filteredAccounts.length > 0" class="w3-container w3-padding w3-theme-l3">Transfer To/From Account</div>

      <ul class="w3-ul w3-card">
        <li @click="setPayee(_account)" v-for="(_account, key) in filteredAccounts" :key="key" class="bar-50 w3-display-container">

          <div v-if="_account === payee" class="selected-check w3-display-left">✓</div>

          <div class="payee-name w3-display-left">
            <div class="w3-panel">{{'⇄ ' + _account.name}}</div>
          </div>

        </li>
      </ul>

      <div v-if="filteredPayees.length > 0" class="w3-container w3-padding w3-theme-l3">Previous Payees</div>

      <ul class="w3-ul w3-card">
        <li @click="setPayee(_payee)" v-for="(_payee, key) in filteredPayees" :key="key" class="bar-50 w3-display-container">

          <div v-if="_payee === payee" class="selected-check w3-display-left">✓</div>

          <div class="payee-name w3-display-left">
            <div class="w3-panel">{{_payee.name}}</div>
          </div>

        </li>
      </ul>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Payee editor script. -->
<!-- ================================================== -->

<script>
  const bySort = (a, b) => a.sort - b.sort

  export default {
    name: 'fm-payee-editor',
    props: [
      'originalPayee'
    ],
    data () {
      return {
        payee: null,
        inputString: '',
        accountId: this.$route.params['accountId'],
        accounts: [],
        payees: []
      }
    },
    computed: {
      filteredAccounts () {
        let searchInput

        if (this.payee === null) {
          searchInput = this.inputString.toLowerCase()
        } else {
          searchInput = ''
        }

        return this.accounts.filter(acc => acc.onBudget && !acc.closed && acc.id !== this.accountId && acc.name.toLowerCase().indexOf(searchInput) !== -1).sort(bySort)
          .concat(this.accounts.filter(acc => !acc.onBudget && !acc.closed && acc.id !== this.accountId && acc.name.toLowerCase().indexOf(searchInput) !== -1).sort(bySort))
          .concat(this.accounts.filter(acc => acc.closed && acc.id !== this.accountId && acc.name.toLowerCase().indexOf(searchInput) !== -1).sort(bySort))
      },
      filteredPayees () {
        let searchInput

        if (this.payee === null) {
          searchInput = this.inputString.toLowerCase()
        } else {
          searchInput = ''
        }

        return this.payees.filter(payee => payee.name.toLowerCase().indexOf(searchInput) !== -1).sort(bySort)
      }
    },
    methods: {
      setPayee (payee) {
        this.payee = payee
      },
      clear () {
        this.payee = null
        this.inputString = ''
        document.getElementById('payee-input').focus()
      },
      save () {
        if (this.payee !== null && this.payee !== undefined) {
          this.$emit('save', this.payee)
        } else {
          this.$emit('save', this.inputString)
        }
      },
      cancel () {
        this.$emit('cancel')
      }
    },
    mounted () {
      const byName = (a, b) => {
        var nameA = a.name.toUpperCase()
        var nameB = b.name.toUpperCase()

        if (nameA < nameB) {
          return -1
        }

        if (nameA > nameB) {
          return 1
        }

        return 0
      }

      this.payee = this.originalPayee
      this.accounts = this.$current.dbCtrl.accounts
      this.payees = Object.keys(this.$current.dbCtrl.payees).map(key => {
        return this.$current.dbCtrl.payees[key]
      }).sort(byName)

      document.getElementById('payee-input').focus()
    },
    watch: {
      'payee': function (payee) {
        if (typeof payee === 'string') {
          this.inputString = payee
        } else if (payee) {
          this.inputString = payee.name
        }
      },
      'inputString': function (value) {
        if (this.payee === undefined) {
          this.payee = null
        }
        if (this.payee !== null && this.payee.name !== value) {
          this.payee = null
        }
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Payee editor CSS. -->
<!-- ================================================== -->

<style>
  .bar-50 {
    height: 50px;
  }

  .payee-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 16px 16px 0px 16px;
  }

  .payee-label {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 8px 0px 8px 0px
  }

  .payee-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  .payee-input {
    border: 0;
    padding: 8px 24px 8px 8px
  }

  .payee-clear {
    grid-column-start: 3;
    grid-row-start: 1;
    padding: 8px 8px 8px 16px;
  }

  .payee-name {
    padding: 0px 0px 0px 24px;
  }

  .selected-check {
    padding: 0px 0px 0px 16px;
  }
</style>