<!-- ================================================== -->
<!--  Date editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0;">
      <div class="w3-display-left w3-container">Transaction Memo</div>
    </div>

    <div class="w3-theme-l4" style="position: absolute; height: 120px; width: 100%; top: 40px; left: 0; right: 0">

      <div class="memo-wrapper">
        <!-- <label class="memo-label">Memo</label> -->
        <div class="memo-container w3-card">
          <input id="memo-input" class="memo-input w3-input" type="text" v-model="memo">
        </div>
        <i @click="clearMemo" class="memo-clear fa fa-times w3-text-theme" aria-hidden="true"></i>
      </div>

      <div class="save-cancel-wrapper">
        <div @click="save" class="button w3-card w3-theme">OK</div>
        <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
      </div>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Date editor script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-memo-editor',
    props: [
      'originalMemo'
    ],
    data () {
      return {
        memo: null
      }
    },
    methods: {
      clearMemo () {
        this.memo = null
        document.getElementById('memo-input').focus()
      },
      save () {
        this.$emit('save', this.memo)
      },
      cancel () {
        this.$emit('cancel')
      }
    },
    mounted () {
      this.memo = this.originalMemo
      document.getElementById('memo-input').focus()
    }
  }
</script>

<!-- ================================================== -->
<!--  Date editor CSS. -->
<!-- ================================================== -->

<style>
  .memo-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 16px 16px 0px 16px;
  }

  .memo-label {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: 8px 0px 8px 0px
  }

  .memo-container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }

  .memo-input {
    border: 0;
    padding: 8px 24px 8px 8px
  }

  .memo-clear {
    grid-column-start: 3;
    grid-row-start: 1;
    padding: 8px 8px 8px 16px;
  }
</style>